### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
appenv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.pytest*/

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
dist/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.spec
